src/main/webapp/wsdl/LoginServiceEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://endpoints.webservice.bs5lnd.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://endpoints.webservice.bs5lnd.org" xmlns:intf="http://endpoints.webservice.bs5lnd.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://endpoints.webservice.bs5lnd.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validateLogin">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateLoginResponse">
    <complexType>
     <sequence>
      <element name="validateLoginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateLoginRequest">

      <wsdl:part element="impl:validateLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateLoginResponse">

      <wsdl:part element="impl:validateLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoginServiceEndpoint">

      <wsdl:operation name="validateLogin">

         <wsdl:input message="impl:validateLoginRequest" name="validateLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateLoginResponse" name="validateLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginServiceEndpointSoapBinding" type="impl:LoginServiceEndpoint">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginServiceEndpointService">

      <wsdl:port binding="impl:LoginServiceEndpointSoapBinding" name="LoginServiceEndpoint">

         <wsdlsoap:address location="http://localhost:8080/organizer/services/LoginServiceEndpoint"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
